<div class="container">
  <!-- <h2>Crear Paquete</h2> -->
  <h2>{{ paqueteId ? 'Editar Paquete' : 'Crear Paquete' }}</h2>
  <!-- <form [formGroup]="paqueteForm" (ngSubmit)="createPaquete()"> -->
    
  <form [formGroup]="paqueteForm">
    <!-- Información General del Paquete -->
    <div class="card p-3">
    <div class="row">
    <div class="col-lg-4">
    <div class="form-group">
      <label for="nombre_paquete">Nombre del Paquete (*)</label>
      <input
        id="nombre_paquete"
        type="text"
        class="form-control"
        formControlName="nombre_paquete"
        placeholder="Nombre del paquete"
      />
    </div>
    <div class="form-group">
      <label for="estado" class="form-label">Categoría(*)</label>
      <select
      id="categoria_producto_id"
      class="form-control"
      formControlName="categoria_producto_id"
      required
    >
      <option value="" disabled>Seleccione una categoría</option>
      <option
        *ngFor="let categoria of categoriasProductos"
        [value]="categoria.id"
      >
        {{ categoria.categoria }}
      </option>
    </select>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        class="form-control"
        formControlName="descripcion"
        placeholder="Descripción del paquete"
        rows="5"
      ></textarea>
    </div>
  </div>
</div>
</div>

    <hr />
    <h3>Detalles del Paquete</h3>
        <!-- Botón para Agregar Producto -->
        <button type="button" class="btn-sm btn btn-light-primary mb-2" (click)="addDetalle()">
          <i class="feather icon-plus"></i> Agregar Producto
        </button>

    <!-- Tabla de Detalles del Paquete -->
    <div *ngIf="detalles.controls.length === 0" class="alert alert-warning my-2 text-center" role="alert">
      <span class="h6 text-warning">No existen productos agregados al paquete. Por favor, agrégalos haciendo click en <b>Agregar Producto</b>.</span>
    </div>
    <div class="card">
<div class="d-flex justify-content-center rounded">
    <table class="table table-sm table-bordered w-75"  *ngIf="detalles.controls.length > 0">
      <thead>
        <tr class="text-center">
          <th class="table-producto">Producto</th>
          <th class="table-cantidad">Cantidad</th>
          <!-- <th>Duración (Horas)</th> -->
          <!-- <th>Costo Unitario</th> -->
          <th class="table-valor">Valor Producto</th>
          <th class="table-acciones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalles.controls; let i = index" [formGroup]="detalle">
          <td>
            <select
              class="form-control"
              formControlName="producto"
              (change)="onProductoChange(i)"
            >
              <option value="">Seleccione producto...</option>
              <option *ngFor="let producto of productos" [value]="producto.id"
              [disabled]="producto.tipo_costo === 1 && producto.cantidad <= 5"
              >
                {{ producto.producto }}
              </option>
            </select>
          </td>
          <td class="table-cantidad">
            <input
              type="number"
              class="form-control"
              formControlName="cantidad"
              [disabled]="detalle.get('tipo_costo')?.value === 2"
              (input)="updateCosto(i)"
              min="0"
            />
          </td>
          <td>
            <input
              type="number"
              class="form-control"
              formControlName="costo_producto"
            />
          </td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-sm btn-light-danger"
              (click)="deleteDetalle(i)"
            >
            <i class="feather icon-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 
    <hr />
    <div class="col-lg-12 d-flex justify-content-end mb-4">
    <!-- <button type="submit" class="btn btn-success">Guardar Paquete</button> -->
    <button
    *ngIf="!paqueteId"
    type="submit"
    class="btn btn-success btn-lg"
    (click)="createPaquete()"
    [disabled]="detalles.controls.length === 0"
  >
  <i class="feather icon-save"></i> Guardar Paquete
  </button>
  
  <button
    *ngIf="paqueteId"
    type="button"
    class="btn btn-success  btn-lg"
    (click)="updatePaquete()"
    [disabled]="detalles.controls.length === 0"
  >
    Actualizar Paquete
  </button>
</div>
  </form>
</div>