<div class="row">
  <app-card cardTitle="Paquetes" [options]="false" blockClass="table-border-style">
    <div class="d-flex justify-content-between p-0">
      <!-- Buscador -->
      <app-paquete-search (searchChange)="onSearch($event)"></app-paquete-search>
      <!-- Nuevo producto -->
      <button class="btn btn-sm btn-success" (click)="nuevoPaquete()">
        <i class="feather icon-plus"></i>
        <span>Nuevo paquete</span>
      </button>
    </div>
    <div class="table-responsive w-100">
      <table class="table table-hover table-sm">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Paquete</th>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let paquete of getPagedPaquetes(); let i = index">
            <!-- Fila principal del paquete -->
            <tr class="text-center">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ paquete.nombre_paquete }}</td>
              <td>{{ paquete.descripcion }}</td>
              <td class="text-center">{{ paquete.precio_total | currency }}</td>
              <td class="text-center">
                <span [ngClass]="{
                      'text-success text-center': paquete.estado === 1,
                      'text-danger text-center': paquete.estado !== 1
                    }">
                  {{ paquete.estado === 1 ? 'Activo' : 'Inactivo' }}
                </span>
              </td>
              <td class="text-center">
                <button *ngIf="paquete.detalles && paquete.detalles.length > 0" type="button"
                  class="btn btn-sm btn-light-info" (click)="toggleDetalles(paquete.id)">
                  <i class="feather" [class]="isDetalleVisible(paquete.id) ? 'icon-eye-off' : 'icon-eye'"></i>
                </button>
                <button type="button" class="btn btn-sm btn-light-danger mx-1" (click)="deletePaquete(paquete.id)">
                  <i class="feather icon-trash"></i>
                </button>
                <button type="button" class="btn btn-sm btn-light-primary" (click)="editarPaquete(paquete.id)">
                  <i class="feather icon-edit-2"></i>
                </button>
              </td>
            </tr>
            <!-- Fila de detalles del paquete -->
            <tr *ngIf="isDetalleVisible(paquete.id)">
              <td colspan="6">
                <div *ngIf="paquete.detalles && paquete.detalles.length > 0">
                  <table class="table table-sm table-bordered mb-0">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Tipo costo</th>
                        <th>Precio unitario</th>
                        <th>Cantidad</th>
                        <!-- <th>Duración (Horas)</th> -->
                        <th>Costo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let detalle of paquete.detalles; let j = index">
                        <td>{{ j + 1 }}</td>
                        <td>{{ detalle.producto.producto }}</td>
                        <td>{{ detalle.producto.tipo_costo }}</td>
                        <td>{{ detalle.producto.costo }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <!-- <td>{{ detalle.duracion_horas }}</td> -->
                        <td>{{ detalle.costo_producto | currency }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="!(paquete.detalles && paquete.detalles.length > 0)" class="text-center">
                  <em>Este paquete no tiene detalles.</em>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="currentPage = currentPage - 1">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let page of getPageArray(paquetes.length)"
            [class.active]="page === currentPage">
            <a class="page-link" (click)="currentPage = page">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === getPageArray(paquetes.length).length">
            <a class="page-link" (click)="currentPage = currentPage + 1">Siguiente</a>
          </li>
        </ul>
      </nav>
    </div>
  </app-card>

</div>